html {
    display: block;
}

body {
    background-color: #d3d3d3;
    font-family: Arial, sans-serif;
}

.bold {
    font-weight: 900;
}

.aligncenter {
    text-align: center;
}

h1 {
    background: #80808099;
    color: #003473;
    letter-spacing: normal;
}

h2 {
    margin: 5px 200px;    
    background: #4d4d4d;
    padding: 5px 5%;
    color: #5179fc;
}

h3 {
    background: #4d4d4d;
    color: #80a6ee;
    margin: 20px 250px;
    padding: 30px;
}

/* Buttons container */
.button-container {
    background-color: #808080;
    margin: 2rem auto;
    padding: 1.5rem;
    width: 20%;
    gap: 2rem;
    display: flex;
    justify-content: center;
}

/* Button */
.btn {
    background-color: black;
    color: lightblue;
    padding: 1rem;
    font-size: 1.5rem;
}

/* Hover state when mouse hover over */
.btn:hover {
    background-color: #3855b6;
    color: #ffffff;
}


/* Active State (when clicked) */
.btn:active {
    background-color: #001e42; /* Darker color when clicked */
    color: white;
    transform: scale(0.95); /* Optional: gives a pressed effect */
}

/* Active state (when clicked) */
.btn.active {
    background-color: #93c0f7;
    color: #000000;
}

/* actual codeblocks containing the code sets */
.codeBlock {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #383838;
    color: #ffffff;
    width: 70%;
    padding: .5rem;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre, code {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    max-width: 100%;
    box-sizing: border-box;
}

.codeBlock h2 {
    margin: 0;
    text-align: center;
}