html {
    display: block;
}

body {
    background-color: #d3d3d3;
    font-family: Arial, sans-serif;
}

.bold {
    font-weight: 900;
}

.aligncenter {
    text-align: center;
}

h1 {
    background: #80808099;
    color: #003473;
    letter-spacing: normal;
}

h2 {
    margin: 5px auto;
    background: #4d4d4d;
    padding: 5px 5%;
    color: #5179fc;
    font-size: 2rem;
}

h3 {
    background: #4d4d4d;
    color: #80a6ee;
    margin: 20px 250px;
    padding: 30px;
}

.spacer-margin {
    margin: 1rem 0;
}

/* Buttons container */
.button-container {
    background-color: #808080;
    margin: 2rem auto;
    padding: 1.5rem;
    width: 20%;
    gap: 2rem;
    display: flex;
    justify-content: center;
}

/* Button */
.btn {
    background-color: black;
    color: lightblue;
    padding: 1rem;
    font-size: 1.5rem;
}

/* Hover state for mouse */
.btn:hover {
    background-color: #3855b6;
    color: #ffffff;
}


/* Active state (when clicked) */
.btn:active {
    background-color: #001e42; /* Darker color when clicked */
    color: white;
    transform: scale(0.95); /* Optional: gives a pressed effect */
}

/* Active state (after clicked) */
.btn.active {
    background-color: #93c0f7;
    color: #000000;
}

/* Codeblocks containing each unique language for this page */
.content-main {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2rem;
}

.codeChunk {
    display: flex;
    flex-direction: column;
    background-color: #383838;
    color: #ffffff;
    width: 70%;
}

.codeBlock {
    display: flex;
    flex-direction: column;
    background-color: #383838;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 3rem;
}

pre, code {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.codeBlock h2 {
    margin: 0;
    text-align: center;
}

.side-panel {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    background-color: #6085ff;
    outline: 2px solid red;
    position: sticky;
    height: 30rem;
}

.side-panel h2 {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin: 1rem auto;
    padding: .5rem;
    white-space: nowrap;

    font: 2rem Arial, sans-serif;
    background-color: #003546;
}

.side-panel p {
    font: small-caps 2rem Arial, sans-serif;

}